# Python
venv/
__pycache__/
*.pyc

# Environment
.env

# Build
build/
dist/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# AI / Vector DB
chroma_db/
.chroma/

# log files
.log